@model LibraryManagementMVC.Models.Student

@{
    ViewBag.Title = "EditStudent";
}

@section Title{
    <h4>Update Student</h4>
    }

    @using (Html.BeginForm("UpdateStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal mt-2">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Sid)

            <div class="form-group">
                @Html.LabelFor(model => model.Sname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Class, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="/Uploads/Images/@Model.PhotoName" width="200" height="200" alt="Student Photo" />
                    <input type="file" name="selectedImageFile" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Video, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <video width="320" height="240" controls>
                        <source src="~/Uploads/Videos/@Model.VideoName" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                    <input type="file" name="selectedVideoFile" />
                </div>
            </div>

            <div class="form-group mt-2">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Update" class="btn btn-success" />
                    <input type="reset" value="Reset" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to Student List", "DisplayStudents")
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>